/*CSS 重置*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,
em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,menu,nav,output,
ruby,section,input,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}
blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
/*全局样式*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    height: 100%;width: 100%;
}
body{
    font-family: "Microsoft Yahei";
    height: 100%;width: 100%;
}
a{color: inherit}
a:link{ text-decoration: none;}
a:hover{  text-decoration: none;}
a:visited{ color: inherit; }                    /*保证链接访问过后颜色不变化*/
.container{
    display: flex;
    display: -webkit-flex;
    height: 100%;
}
/***********************************************************/
nav{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex: none;
    -webkit-flex: none;
    width: 100%;
    height: 49px;
    background-color: #333333;
    overflow: hidden;
    border-bottom: solid 1px #bbbbbb;
}
nav img{
    margin-top: -20px;
}
.col{
    overflow: hidden;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    flex: none;
    -webkit-flex: none;
    background-color: #eeeeee;
    width: 250px;
    border-right: solid 1px #aaaaaa;
    padding-bottom: 50px;
}
#col1{
    background-color: #777777;
    padding-top: 30px;
}
#col2{
    width: 200px;
    background-color: #888888;
}
#col3{
    flex-direction: column;
    -webkit-flex-direction: column;
    flex: 1;
    -webkit-flex: 1;
    background-color: white;
    border-right: 0px;
}
.taskList{
    color: #eeeeee;
    flex: none;
    -webkit-flex: none;
    line-height: 30px;
    cursor: pointer;
    width: 100%;
    height: 30px;
    padding-left: 50px;
}
.typeList{
    color: #eeeeee;
    flex: none;
    -webkit-flex: none;
    position: relative;
    line-height: 30px;
    cursor: pointer;
    width: 100%;
    height: 30px;
    padding-left: 30px;
}
.typeList:hover,
.taskList:hover,
#newInput{
    background-color: #bbbbbb;
    color: #222;
}
.active{
    background-color: white;
    color: #222222;
    border-right: solid 1px #aaaaaa;
}
.deleteTag{
    text-align: center;
    display: none;
    background-color: #ff2222;
    line-height: 30px;
    height: 30px;
    width: 40px;
    font-size: 25px;
    float: right;
    position: relative;
}
@keyframes deleteTag-slideIn {
    from{
        left: 40px;
    }
    to{
        left: 0px;
    }
}
@-webkit-keyframes deleteTag-slideIn {
    from{
        left: 40px;
    }
    to{
        left: 0px;
    }
}
.taskList:hover .deleteTag,
.typeList:hover .deleteTag{
    display: block;
    animation: deleteTag-slideIn 0.3s;
    -webkit-animation: deleteTag-slideIn .3s;
    -moz-animation: deleteTag-slideIn .3s;
    -o-animation: deleteTag-slideIn .3s;
}
.newType{
    cursor: pointer;
    margin-top: auto;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #555555;
    color: #eeeeee;
    border-top: 1px solid #aaaaaa;
}
.finishTagContainer{
    overflow: auto;
    flex: none;
    -webkit-flex: none;
    padding: 10px;
    font-size: 12px;
    background-color: #666;
    border-bottom: 1px solid #aaaaaa;
}
.finishTag{
    color: #eeeeee;
    cursor: pointer;
    position: relative;
    float: left;
    text-align: center;
    border-radius: 4px;
    width: 55px;
    padding: 4px 8px;
}
.finishTag:hover,
.newType:hover{
    background-color: #eeeeee;
}
.newType:hover{
    color: #222222;
}
.finishTag:hover{
    color: #222222;
}
.activeTag{
    background-color: #eeeeee;
    color: #222222;
}
.activeTodo{
    color: #222222 !important;
    background-color: #eeeeee;
    border-right: solid 1px #aaaaaa;
}
.dateList{
    color: #eeeeee;
    font-size: 14px;
    flex: none;
    -webkit-flex: none;
    line-height: 25px;
    cursor: pointer;
    width: 100%;
    height: 25px;
    padding-left: 30px;
}
.todoList{
    color: #eeeeee;
    font-size: 14px;
    flex: none;
    -webkit-flex: none;
    line-height: 20px;
    cursor: pointer;
    width: 100%;
    height: 20px;
}
.dateList:hover,
.todoList:hover{
    color: #222222;
    background-color: #eeeeee;
}
.todoDeleteTag{
    text-align: center;
    background-color: #ff2222;
    color: white;
    line-height: 17px;
    height: 20px;
    width: 30px;
    font-size: 20px;
    float: right;
    position: relative;
    left: 30px;
}
@keyframes todoDeleteTagSlideIn {
    from{left: 30px;}
    to{left: 0px;}
}
@-webkit-keyframes todoDeleteTagSlideIn {
    from{left: 30px;}
    to{left: 0px;}
 }
.todoDeleteTagSlideIn{
    animation: todoDeleteTagSlideIn .3s ease;
    -webkit-animation: todoDeleteTagSlideIn .3s ease;
    left: 0px;
}
.todoFinishTag{
    text-align: center;
    background-color: dodgerblue;
    color: white;
    line-height: 20px;
    height: 20px;
    width: 45px;
    font-size: 15px;
    float: left;
    position: relative;
    left: -45px;
}
@keyframes todoFinishTagSlideIn {
    from{left: -45px;}
    to{left: -0px;}
}
@-webkit-keyframes todoFinishTagSlideIn {
    from{left: -45px;}
    to{left: -0px;}
}
.todoFinishTagSlideIn{
    animation: todoFinishTagSlideIn .3s ease;
    -webkit-animation: todoFinishTagSlideIn .3s ease;
    left: 0px;
}
.todoTitle{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    background-color: #b0b0b0;
    color: #333333;
    width: 100%;
    height: 60px;
    line-height: 60px;
    flex: none;
    -webkit-flex: none;
    border-bottom: solid 1px #222222;
    font-size: 30px;
    font-weight: bold;
    padding-left: 30px;
}
.white{
    background-color: white;
}
.editButton{
    color: #eeeeee;
    margin-right: 20px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 17px;
    line-height: 40px;
    height: 40px;
    width: 50px;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
}
.editButton:hover,
.finishButton:hover{
    color: black;
    background-color: white;
}
.editWindow{
    background-color: #dddddd;
    padding: 20px;
    flex: 1;
    -webkit-flex: 1;
}
.temp{
    background-color: blanchedalmond;
}
@keyframes newInputSlideIn {
    from{top: -30px;opacity: 0;}
    to{top: 0px;opacity: 1;}
}
@-webkit-keyframes newInputSlideIn {
    from{top: -30px;opacity: 0;}
    to{top: 0px;opacity: 1;}
}
.newTaskInput-animation{
    animation: newInputSlideIn 0.3s ease;
    -webkit-animation: newInputSlideIn 0.3s ease;
}
@keyframes newTodoSlideIn {
    from{top: -20px;opacity: 0.4;}
    to{top: 0px;opacity: 1;}
}
@-webkit-keyframes newTodoSlideIn {
    from{top: -20px;opacity: 0.4;}
    to{top: 0px;opacity: 1;}
}
.newTodoInput-animation{
    animation: newTodoSlideIn 0.3s ease;
    -webkit-animation: newTodoSlideIn 0.3s ease;
}
@keyframes deleteSlideOut {
    from{left:  0px;}
    to{left: -250px;}
}
@-webkit-keyframes deleteSlideOut {
    from{left: 0px;}
    to{left: -250px;}
}
.deleteType-animation{
    animation: deleteSlideOut 0.2 ease;
    -webkit-animation: deleteSlideOut 0.2s ease;
}